<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title><%= title %></title>
</head>
<body>
		<form action="/auth/register" method="post">
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" id="username" name="username" class="form-control">
				</div>
				<div class="form-group">
					<label for="fullname">Fullname</label>
					<input type="text" name="fullname" id="fullname" class="form-control">
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" name="email" id="email" class="form-control">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" name="password" id="password" class="form-control">
				</div>
				<div class="form-group">
					<label for="confirmpassword">Confirm Password</label>
					<input type="password" name="confirmpassword" id="confirmpassword" class="form-control">
				</div>
				<div class="form-group">
					<button class="btn btn-primary" type="submit">Register</button>
				</div>
		</form>
</body>
</html>